body{

	background:#fff;

	}

	

.cont1{

	padding-right:0;

	padding-left:0;

	margin-left:0;

	margin-right:0;

	}

	

.header{

	background:#0076a3;

	height:60px;

    width: 100%;

	position:fixed;

	z-index:9999;

	top:0;

	left:0;

	right:0;

	}

.logo{

	margin: 10px auto;

	padding-left: 15px;

	}

.logo img{

	height:40px;

	}

.cancel{

	margin:25px auto;

	float:right;

	padding-right:10%;

	}

.cancel img{

	height:25px;

	}

/*--header ends--*/

/*--header line starts--*/

.headerline{

	width:100%;

	background:#064d68;

	height:66px;

	}	

/*--header line ends--*/

.col-centered{

	  

	  margin-left: auto;

	  margin-right: auto;

	  text-align: center;

}

/*--content starts--*/

.box{

	background:#f1f1f1;

	width:100%;

	height:245px;

	border-radius:8px;

	margin-top:8%;

	position:relative;

	box-shadow: 0 5px 15px rgba(0,0,0,.5);

	}

	.box1{
	background:#f1f1f1;
	width:80%;
	max-width: 580px;
	height:auto;
	padding-left:10%;
	padding-top:10px;
	padding-bottom:20px;
	padding-right:10%;
	margin-left: auto;
	margin-right: auto;
	border-radius:8px;
	margin-bottom:4%;
	margin-top: 110px;
	position:relative;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	}

	.box2{

	background:#f1f1f1;

	width:100%;

	height:630px;

	padding-left:10%;

	padding-right:10%;

	margin-left: auto;

	margin-right: auto;

	border-radius:8px;

	margin-top:2%;

	position:relative;

	box-shadow: 0 5px 15px rgba(0,0,0,.5);

	}

.logo-above{

	position: absolute;

    left: 38%;

    top: -10%;

	}

.logo-above img{

	height:45px;

	}

	.logo-above1{

	position: absolute;

    left:38%;

    top: -7%;

	}

	.logo-above1 img{

	height:45px;

	}

	.logo-above2{

	position: absolute;

    left:38%;

    top: -5%;

	}

	.logo-above2 img{

	height:45px;

	}

.btn-login {

    color: #fff;

    background-color: #337ab7;

    border-color: #2e6da4;

    font-size: 18px;

	width:75%;

}

.mrgntop{

	margin-top:5%;

	}

.mrgntop1{

	margin-top:4%;

	}

.mrgntop2{

	margin-top:1%;

	}

.font1{

	font-size: 14px;

    font-weight: 600;

    margin-top: 3%;

	color:#000;

}

.font1 a{

	font-size: 14px;

    font-weight: 300;

    margin-top: 3%;

	color:#000;

}

.font1 a:hover{

	font-size: 14px;

    font-weight: 600;

    margin-top: 3%;

	color:#0077a2;

	text-decoration:none;

}

.inputwidth{

    width:78%;

}

.total{

	padding-left:68%; 

	font-size:20px; 

	font-weight:600;

}

@media only screen and (max-width: 768px) {

	.box {

    background: #f1f1f1;

    width: 100%;

    height: 350px;

    border-radius: 8px;

    margin-top: 8%;

    position: relative;

    box-shadow: 0 5px 15px rgba(0,0,0,.5);

}



.box2 {

    background: #f1f1f1;

    width: 100%;

    height: 1240px;

    border-radius: 8px;

    margin-top: 8%;

    position: relative;

    box-shadow: 0 5px 15px rgba(0,0,0,.5);

}

    .btn-login {

    color: #fff;

    background-color: #337ab7;

    border-color: #2e6da4;

    width: 35%;

    font-size: 18px;

}

.mrgnleft{

	margin-left:18%;

	}

    .inputwidth{

    width:45%;

    }



}



/*--content ends--*/

/*--services page content starts--*/

.head-main{

	width:100%;

	background:#0077a2;

	height: 60px;

	}

.font2{

	float: right;

    font-size: 15px;

    color: #fff;

    font-weight: 600;

    padding: 1%;

	}

/*--numbering--*/

.number-steps {

  text-align: center;

  position: relative;

  margin-bottom: 20px;

}

@media (max-width: 767px) {

  .number-steps {

    margin-bottom: 15px;

  }

  

}

.number-steps .number-step {

  text-align: center;

  display: inline-block;

}

.number-steps .number-step p {

  margin-bottom: 0;

  color: white;

}

.number-steps .number-step .number-step-number {

  background: #e9e9e9;

  display: inline-block;

  padding: 6px;

  border-radius: 50%;

  margin-bottom: 3px;

}

.number-steps .number-step .number-step-number .number-step-number-inner {

  font-size: 16px;

  font-weight: 700;

  border-width: 2px;

  border-style: solid;

  border-radius: 50%;

  width: 30px;

  height: 30px;

  line-height: 28px;

}

.number-steps [class^="col-"]:first-child,

.number-steps [class*=" col-"]:first-child {

  text-align: left;

}

.number-steps [class^="col-"]:last-child,

.number-steps [class*=" col-"]:last-child {

  text-align: right;

}

.number-steps:before {

  display: block;

  width: 90%;

  width: calc(100% - 20px - 34px*2);

  height: 10px;

  background: #e9e9e9;

  content: "";

  position: absolute;

  top: 23px;

  margin-top: -5px;

  margin-left: 44px;

}

@media (max-width: 767px) {

  .number-steps:before {

    width: 80%;

    width: calc(100% - 20px - 34px*2);

  }

}

@media (max-width: 767px) {

  .number-steps {

    font-size: 12px;

  }

}

.number-step-default .number-step-number-inner {

  background: #DEDADA;

    background-image: -o-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

    background-repeat: repeat-x;

    border-color: #cccccc;

    color: #0077A2;

}

.number-step-primary {

  color: #2194cd;

}

.number-step-primary .number-step-number-inner {

  background: #FFFFFF;

  background-image: -webkit-linear-gradient(top, #2194cd 0%, #196e98 100%);

  background-image: -o-linear-gradient(top, #2194cd 0%, #196e98 100%);

  background-image: linear-gradient(to bottom, #2194cd 0%, #196e98 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

  background-repeat: repeat-x;

  border-color: #135575;

  color: #ffffff;

}

@media only screen and (max-width: 600px) {

	.box {

    background: #f1f1f1;

    width: 100%;

    height: 300px;

    border-radius: 8px;

    margin-top: 8%;

    position: relative;

    box-shadow: 0 5px 15px rgba(0,0,0,.5);

}

.box2 {

    background: #f1f1f1;

    width: 100%;

    height: 1140px;

    border-radius: 8px;

    margin-top: 8%;

    position: relative;

    box-shadow: 0 5px 15px rgba(0,0,0,.5);

}

    .btn-login {

    color: #fff;

    background-color: #337ab7;

    border-color: #2e6da4;

    width: 60%;

    font-size: 16px;

}

.lblfont {

    font-size: 14px;

}

.lblfont1 {

    font-size: 18px;

}



.inputwidth{

	width:57%;

	}

	.mrgnleft{

	margin-left:18%;

	}



	

}

@media only screen and (max-width: 480px) {

    .box{

	background:#f1f1f1;

	width:100%;

	height:300px;

	border-radius:8px;

	margin-top:0%;

	box-shadow: 0 5px 15px rgba(0,0,0,.5);

	}

	.box2 {

    background: #f1f1f1;

    width: 100%;

    height: 1080px;

    border-radius: 8px;

    margin-top: 8%;

    position: relative;

    box-shadow: 0 5px 15px rgba(0,0,0,.5);

}

	.logo-above{

	position: absolute;

    left:24%;

    top: -10%;

	}

.logo-above img{

	height:35px;

	}

	.logo-above1{

	position: absolute;

    left:24%;

    top: -6%;

	}

.logo-above1 img{

	height:35px;

	}

	.logo-above2{

	position: absolute;

    left:24%;

    top: -2%;

	}

.logo-above2 img{

	height:35px;

	}

	.btn-login {

    color: #fff;

    background-color: #337ab7;

    border-color: #2e6da4;

	width: 48%;

    font-size: 16px;

}

.col-centered {

    display: block;

    margin-left: auto;

    margin-right: auto;

    text-align: center;

	margin-bottom:3%

}

.mrgntop{

	margin-top:0%;

	}

.lblfont {

    font-size: 14px;

}

.lblfont1 {

    font-size: 18px;

}

.inputwidth{

	width:62%;

	}

.mrgnleft{

	margin-left:18%;

	}



}



/*--inner container--*/

.inner-container{

	//background:#E7E8E7;

	border-radius:5px;

	padding:1% 4%;

	}

.ride-info{
    padding: 8px;
    background-color: #F2F2F2;
    color: #1b81cb;
    font-weight: bold;
    font-size: 14px;
}

.border-btm{

	border-bottom:1px solid #999;

	}



.dropdown-menu > li > a {

    display: block;

    padding: 3px 20px;

    clear: both;

    font-weight: 500;

    line-height: 1.42857143;

    color: #333;

    white-space: nowrap;

    font-size: 16px;

}

label {

    display: inline-block;

    max-width: 100%;

    margin-bottom: 5px;

    font-weight: bold;

    font-size: 18px;

}

.inputbg{

	background: #F3F3F3;

	}

	

.bg-menu{

	background:#eee;

	}

.form-control1 {

    display: block;

    width: 100%;

    height: 42px;

    padding: 6px 12px;

	font-family: Verdana, Geneva, sans-serif;

    font-size: 17px;

    line-height: 1.428571;

    color: #555;

    background-color: #F3F3F3;

    background-image: none;

    border: 1px solid #D6D6D6;

    border-radius: 7px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.form-control2 {

    display: block;

    width: 83%;

	float:left;

	margin-top:1%;

    height: 42px;

    padding: 6px 12px;

    font-size: 18px;

    line-height: 1.428571;

    color: #555;

    background-color: #F3F3F3;

    background-image: none;

    border: 1px solid #D6D6D6;

    border-radius: 7px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.mrgntop5{

	margin-top:15%;

	}

#field {

    margin-bottom:20px;

}

.btn-primary3 {

    color: #fff;

    background-color: #337ab7;

    border-color: #2e6da4;

    margin-top: 10px;

    margin-left: 1%;

}

.fntcolor{

	color: #0077A2;

	}

.fntcolor2{

	color: #0077A2;

	/*font-size:18px;*/

	}

	.fntcolor1{

	color: #565656;

	/*font-size:16px;*/

	font-weight:500;

	}

.select-vehicle-header {

    background:#0077a2;

    padding: 0px 10px;

    color: #ffffff;

}

.sortbtn {

    display: inline-block;

    padding: 6px 12px;

    margin-bottom: 0;

    font-size: 14px;

    font-weight: normal;

    line-height: 1.42857143;

    text-align: center;

    white-space: nowrap;

    vertical-align: middle;

    -ms-touch-action: manipulation;

    touch-action: manipulation;

    cursor: pointer;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

    background-image: none;

    border: 1px solid transparent;

    border-radius: 0px;

}

.btn-prim {

    color: #fff;

    background-color: #0077A2;

    border-color: #eee;

	font-size: 11px;

	padding: 8px;

}

.select-vehicle-row{

    background: #fff;
    margin-left: 13px;
    margin-right: 13px;
    color: #777;
}

.vehicle-padding{

	padding:15px 10px;

	border-bottom: 2px solid #939799;

	margin-bottom:3%;

	}

.vehicles-specs {

    padding-left: 0;

    margin-bottom: 0;

    list-style: none;

    margin-top: 8%;

}

.vehicles-specs .vehicle-specs {

    display: inline-block;

    margin-right: 16px;

}

.vehicles-specs .vehicle-specs:last-child {

    margin-right: 0;

}

.vehicle-specs .input-group-addon {

    font-size: 16px;

    padding: 5px 10px;

    width: auto;

    min-width: 38px;

	background:#fff;

}

.vehicle-price {

    border: 2px solid #d0d0d0;

    border-radius: 4px;

    padding: 6px 6px;

    text-align: center;

}

.veh-price {

    font-size: 18px;

    font-weight: 600;

}



.mrgn-btm{

	margin-bottom:2%;

	}



.fntlbl {

    display: inline-block;

    max-width: 100%;

    margin-bottom: 5px;

    font-weight:600;

    font-size: 12px;

}

.form-control3 {

    display: block;

    width: 100%;

    height: 90px;

    padding: 6px 10px;

    font-size: 15px;

    line-height: 1.428571;

    color: #555;

    background-color: #fff;

    background-image: none;

    border: 1px solid #D6D6D6;

    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.form-control4 {

    display: block;

    width: 100%;

    height: 30px;

    padding: 6px 10px;

    font-size: 15px;

    line-height: 1.428571;

    color: #555;

    background-color: #fff;

    background-image: none;

    border: 1px solid #D6D6D6;

    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.form-control5 {

    display: block;

    width: 50%;

    height: 30px;

    padding: 6px 10px;

    font-size: 15px;

    line-height: 1.428571;

    color: #555;

	float:left;

    background-color: #fff;

    background-image: none;

    border: 1px solid #D6D6D6;

    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.checklabel {

    display: inline-block;

    max-width: 100%;

    margin-bottom: 5px;

    font-weight: bold;

    font-size: 13px;

}

/*--newcss--*/





.form-control {

    display: block;

    width: 100%;

    height: 46px;

    padding: 0px 10px;

    font-size: 13px;

    line-height: 1.42857143;

    color: #0076A3;

    background-color: #FFFFFF;

    background-image: none;

    border: 1px solid #0076A3;

    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.input-group .form-control:not(:first-child):not(:last-child){

	border-radius:4px;

	}

.input-group .form-control:last-child{

	border-radius:4px;

	    font-size: 16px;

	}

input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {

color:#9a9a9a !important;

}

 

input[type="text"]:-moz-placeholder, textarea::-webkit-input-placeholder { /* Firefox 18- */

color: #9a9a9a !important;

}

 

input[type="text"]::-moz-placeholder, textarea::-webkit-input-placeholder {  /* Firefox 19+ */

color:#9a9a9a !important;  

}

 

input[type="text"]:-ms-input-placeholder, textarea::-webkit-input-placeholder {  

color: #9a9a9a !important; 

}



input[type="password"]::-webkit-input-placeholder,  textarea::-webkit-input-placeholder {

color: #9a9a9a !important;

}

 

input[type="password"]:-moz-placeholder, textarea::-webkit-input-placeholder { /* Firefox 18- */

color: #9a9a9a !important;  

}

 

input[type="password"]::-moz-placeholder, textarea::-webkit-input-placeholder {  /* Firefox 19+ */

color: #9a9a9a !important;  

}

 

input[type="password"]:-ms-input-placeholder {  

color: #9a9a9a !important;  

}





input[type="number"]::-webkit-input-placeholder {

color: #9a9a9a !important;

}

 

input[type="number"]:-moz-placeholder { /* Firefox 18- */

color: #9a9a9a !important;  

}

 

input[type="number"]::-moz-placeholder {  /* Firefox 19+ */

color: #9a9a9a !important;  

}

 

input[type="number"]:-ms-input-placeholder {  

color: #9a9a9a !important;  

}

/*-email-*/

input[type="email"]::-webkit-input-placeholder {

color: #9a9a9a !important;

}

 

input[type="email"]:-moz-placeholder { /* Firefox 18- */

color: #9a9a9a !important;  

}

 

input[type="email"]::-moz-placeholder {  /* Firefox 19+ */

color: #9a9a9a !important;  

}

 

input[type="email"]:-ms-input-placeholder {  

color: #9a9a9a !important;  

}

.rlpading{

	padding:0px;

	}

	

.center {

    text-align: center;

}